*
!.gitignore

!tests/
!tests/**/
!tests/**/*.py

!src/
!src/**/
!src/**/*.rs

!Cargo.toml
!Cargo.lock

# docs
!*.md
!LICENSE
!LICENSE

# ci/cd
!.github/
!.github/**/
!.github/**/*.yml
!.github/**/*.md
!.pre-commit-config.yaml

